<!DOCTYPE html>
<html>
    <head>
        <title> Predict </title>
    </head>
    <body>
        <div style="display: flex; ">
            <h5 style="width: 16rem;">length</h5> 
            <h5>width</h5>
        </div>
        <input id ='length' value="" type="input">
        <input id ='width' value="" type="input">
        <button id="predict-button"> Predict</button>
        <p style = "font-weight:bold">Predictions</p>
        <p id='ans'>Result: </p>
        
        <script src= 'https://code.jquery.com/jquery-3.3.1.min.js'></script>

        <script>
                $("#predict-button").click(function(event){
                let state = {
                    length : parseInt(document.getElementById('length').value),
                    width : parseInt(document.getElementById('width').value)
                }
                console.log(state);
                $.post("https://boston-house.herokuapp.com/predict", JSON.stringify(state), function(response){     
                                   
                    document.getElementById('ans').innerHTML = 'Result: ' + response.prediction.Result.toFixed(6)
                    console.log(response);
                });
            });
        </script>
    </body>
</html>