<!DOCTYPE html>
<html>
    <head>
        <title> Predict </title>
    </head>
    <body>
        <div style="display: flex; ">
            <h5 style="width: 16rem;">length</h5> 
            <h5>width</h5>
        </div>
        <input id ='length' value="" type="input">
        <input id ='width' value="" type="input">
        <button onclick ="predict_button()"> Predict</button>
        <p style = "font-weight:bold">Predictions</p>
        <p id='ans'>Result: </p>

        <script>
            function predict_button(event){
                let state = {
                    length : parseInt(document.getElementById('length').value),
                    width : parseInt(document.getElementById('width').value)
                }
                console.log(state);
                fetch("http://127.0.0.1:5000/predict",{
                      method:'post',
                      headers:{'Content-Type':'application/json'},
                      body:JSON.stringify(state)
                })
                .then(res=>res.json())       
                .then(result=>{
                    state.length=0
                    state.width=0
                    document.getElementById('ans').innerHTML = 'Result: ' +result
                    console.log(result)
                })
            };
        </script>
    </body>
</html>